<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section 1 Vue</title>
    <script src="./vue.min.js"></script>
</head>
<body>
    <div id="app">
       <span>Paciente: </span><input type="text" v-model="paciente">
       <br>
       <ul>
           <li v-for="p in lista"> {{p.nome}}, {{p.idade}} </li>
       </ul>
    </div>

    <script>
 
        new Vue({
            el: '#app',
            data: { // variáveis/atributos reativos
               paciente: '',
               pacientes: [
                   {nome: 'Jorge santana', idade: 32 },
                   {nome: 'João santos', idade: 42 },
                   {nome: 'Jose augusto', idade: 18 },
                   {nome: 'Junior silva', idade: 20},
                   {nome: 'Julio Nogueira', idade: 50 }
               ],
               lista: []
            },
            watch: {
                paciente(valorNovo){
                    console.log(valorNovo);
                    this.lista = (this.pacientes.filter(p => p.nome.match(valorNovo)))
                }
            }
        })

    </script>
</body>
</html>